.nav {
    background-color: #f9f7fc;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    border: 1px solid black;
}

.a {
    color: navy;
    font-family: verdana;
    text-decoration: none;
    text-transform: capitalize;
}

.a2 {
    color: navy;
    font-family: verdana;
    text-decoration: none;
    border: 1px solid black;
    background-color: #fff;
    text-decoration: uppercase;
    padding: 0.3rem;
    &:hover {
        background-color: rgb(205, 218, 253);
    }
}